.content {
  display: flex;
  flex-direction: column;
  width: calc(100% - 300px);
  margin-left: 300px;
  background: #f5f7f8;
  height: 100vh;
}

header {
  width: 100%;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  background: #333a3d;
  padding: 50px;
  color: #ffffff;
}

.container {
  max-width: 100%;
}
