.form {
  display: flex;
  flex-direction: column;
}

.card__inputLabel {
  font-weight: bold;
  font-size: 14px;
}

.card__input {
  font-size: 16px;
  width: 100%;
  margin: 5px 0;
  outline: none;
  padding: 5px;
  box-sizing: border-box;
}

.input__group {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.card__validationMessage {
  font-size: 14px;
  color: #ff3232;
  margin: 5px 0;
  box-sizing: border-box;
}

.card__button {
  font-size: 14px;
  font-weight: bold;
  padding: 10px 15px;
  background: #fad114;
  width: max-content;
  border: 0;
  height: max-content;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: 10px;
}
