.form {
  display: flex;
  flex-direction: column;
}

.form__inputLabel {
  font-weight: 400;
  font-size: 14px;
}

.form__group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  font-weight: 400;

}

.input__group {
  display: flex;
  flex-direction: column;
  width: 48%;
  box-sizing: border-box;
  font-weight: 400;
}

.form__input {
  font-size: 16px;
  width: 100%;
  margin: 5px 0;
  padding: 5px;
  outline: none;
  box-sizing: border-box;
  font-weight: 400;
}

.form__validationMessage {
  font-size: 14px;
  color: #ff3232;
  margin: 5px 0;
  box-sizing: border-box;
  font-weight: 400;
}

.form__button {
  font-weight: 500;
  font-size: 14px;
  padding: 10px 15px;
  background: #f4db5a;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: 10px;
}
.form__button:hover {
  background: #fad114;
}

.card__button:hover {
  background: #fad114;
}

.back_btn {
  background: #0d65e5;
  opacity: 0.6;
  z-index: 100;
  border: none;
  outline: none;
  color: #F5F7F8;
  height: 38px;
  margin-top: 5px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 2px 15px 1px #d7d7d7;
}

.back_btn:hover {
  opacity: 0.8;
  box-shadow: none;
}

