.teamMembers_container {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #F5F7F8;
  padding: 50px 120px;
  flex-direction: column;
}

.title {
  align-self: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
}

.hr {
  align-self: center;
  width: 45px;
  height: 2px;
  background: #F8D214;
  margin: 0;
  border-top: 1px solid #F8D214;
}

.members_box {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 5px
}

.circle {
  border-radius: 50px;
  height: 50px;
  width: 50px;
  background: #D5D9DB;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.members_div {
  height: 30px;
}

.members_flex {
  display: flex;
  margin-top: 5px;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 10px 35px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 1px #e4e4e4;
}

.members_flex_little {
  display: flex;
  align-items: center;
  gap: 20px
}

.btn_edit {
  background: transparent;
  align-self: center;
  transition: all 0.3s ease-in-out;
  animation: anim 0.1s ease;
}

.btn_edit:hover {
  box-shadow: 1px 2px 7px 1px #cecece;
  border-radius: 5px;
  width: 50px;
  padding-left: 10px;
}

a > button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}